<div class="row" *ngIf="userProfile">
  <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-2"> <img alt="User Pic" [src]="userProfile.photo" class="img-circle img-responsive"> </div>
            <div class="col-10">
              <div class="row">
                  <div class="col-3">Name:</div>
                  <div class="col-9">{{userProfile.name}}</div>
              </div>
              <div class="row">
                  <div class="col-3">Email:</div>
                  <div class="col-9">{{userProfile.email}}</div>
              </div>
              <div class="row">
                  <div class="col-3">Phone:</div>
                  <div class="col-9">{{userProfile.phone}}</div>
              </div>
            </div>
          </div>
        </li>
        </ul>
  </div>
</div>

