
<form class="create-form" [formGroup]="addUserForm" novalidate (ngSubmit)="onSubmit(addUserForm.value)">
     <div class="row">
      <div class="col-6 form-group">
          <mat-form-field>
            <input matInput placeholder="Full name" formControlName="name">
          </mat-form-field>
          <ng-container *ngFor="let validation of validation_messages.name">
            <mat-error *ngIf="addUserForm.get('name').hasError(validation.type) && (addUserForm.get('name').dirty || addUserForm.get('name').touched)">{{validation.message}}</mat-error>
          </ng-container>
      </div>
      <div class="col-6 form-group">
          <mat-form-field>
              <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
      </div>
    </div>
    
    <button mat-raised-button (click)="onNoClick()" type="button">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!addUserForm.valid">Invite</button>
</form>