<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Edit Organisation</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
  
      <div class="col-12">

          <form class="create-form" [formGroup]="editOrgUserForm" novalidate (ngSubmit)="onSubmit(editOrgUserForm.value)">
             <div class="row">
              <div class="col-6 form-group">
                  <mat-form-field>
                    <input matInput placeholder="Organisation name" formControlName="name">
                  </mat-form-field>
              </div>
              <div class="col-6 form-group">
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                  </mat-form-field>
              </div>
            </div>
            <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!editOrgUserForm.valid">Update</button>
              
          </form>
      </div>
    </div>
  </div>
</div>
