
<form class="create-form" [formGroup]="addOegForm" novalidate (ngSubmit)="onSubmit(addOegForm.value)">
     <div class="row">
      <div class="col-6 form-group">
          <mat-form-field>
            <input matInput placeholder="Organisation name" formControlName="name">
          </mat-form-field>
          <ng-container *ngFor="let validation of validation_messages.name">
            <mat-error *ngIf="addOegForm.get('name').hasError(validation.type) && (addOegForm.get('name').dirty || addOegForm.get('name').touched)">{{validation.message}}</mat-error>
          </ng-container>
      </div>
      <div class="col-6 form-group">
          <mat-form-field>
            <input matInput placeholder="Tin" formControlName="tin_no">
          </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-6 form-group">
            <mat-form-field>
              <input matInput placeholder="Street" formControlName="street">
            </mat-form-field>
        </div>
        <div class="col-6 form-group">
            <mat-form-field>
              <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6 form-group">
            <mat-form-field>
              <input matInput placeholder="Postal code" formControlName="pin">
            </mat-form-field>
        </div>
        <div class="col-6 form-group">
            <mat-form-field>
              <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
      <div class="col-6">
          <mat-form-field>
            <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
              <mat-select-trigger>
                {{toppings.value ? toppings.value[0] : ''}}
                <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                  (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of sportsList" [value]="topping.id">{{topping.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!addOegForm.valid">Submit</button>
</form>