<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Edit Organisation</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
  
      <div class="col-12">

          <form class="create-form" [formGroup]="editOrgForm" novalidate (ngSubmit)="onSubmit(editOrgForm.value)">
             <div class="row">
              <div class="col-6 form-group">
                  <mat-form-field>
                    <input matInput placeholder="Organisation name" formControlName="name">
                  </mat-form-field>
              </div>
              <div class="col-6 form-group">
                  <mat-form-field>
                    <input matInput placeholder="Tin" formControlName="tin_no">
                  </mat-form-field>
              </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <mat-form-field>
                      <input matInput placeholder="Street" formControlName="street">
                    </mat-form-field>
                </div>
                <div class="col-6 form-group">
                    <mat-form-field>
                      <input matInput placeholder="City" formControlName="city">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <mat-form-field>
                      <input matInput placeholder="Postal code" formControlName="pin">
                    </mat-form-field>
                </div>
                <div class="col-6 form-group">
                    <mat-form-field>
                      <input matInput placeholder="Country" formControlName="country">
                    </mat-form-field>
                </div>
            </div>   
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                      <mat-select placeholder="Select multiple sports" [formControl]="formControlObj" multiple [compareWith]="compareObjects">
                        <mat-select-trigger>
                          {{formControlObj.value ? formControlObj.value[0] : ''}}
                          <span *ngIf="formControlObj.value?.length > 1" class="example-additional-selection">
                            (+{{formControlObj.value.length - 1}} {{formControlObj.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of sportsList" [value]="topping.id">{{topping.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
              </div>           
            <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!editOrgForm.valid">Update</button>
              
          </form>
      </div>
    </div>
  </div>
</div>
