<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <h4>Lists</h4>
        </div>
        <div class="col-4 text-right">
          <button mat-raised-button color="primary" (click)="addDataDialog()">Add </button>
        </div>
      </div>
    </div>
    <div class="card-body">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef> Address </th>
                  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <!-- Weight Column -->
              <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef> City </th>
                  <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Country </th>
                <td mat-cell *matCellDef="let element"> {{element.country}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="sportsLists">
                  <th mat-header-cell *matHeaderCellDef> App list </th>
                  <td mat-cell *matCellDef="let element">                     
                      <label *ngFor="let item of element.sportsLists">
                        <span class="badge primary">{{getAppListName(item)}}</span>
                      </label>
                  </td>
                </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element"> 
                      <button mat-icon-button color="primary" (click)="editDataDialog(element)"><mat-icon>edit</mat-icon></button> 
                    <button mat-icon-button color="primary" (click)="delete(element.id)"><mat-icon>delete</mat-icon></button> 
                  </td>
                </ng-container>
              
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div class="card-footer"></div>
  </div>
    
</div>
