$aqua:#3ebda0;
$brown:#e1723e;
$blue:#3a85d2;
$sky-blue:#47b5db;
$maroon:#dc4255;
$green:#8fc84f;
$sandal:#ffbd4e;
$light-pink:#d46392;
$purple:#672f9b;
$white:#fff;
$black:#000;
$red:#f00;

.filter-by-age {
    color: #6c757d;
  
    .title {
      align-self: center;
    }
  
    .age-slider {
      width: 85%;
    }
  }
  table {
    width: 100%;
  }
